USE [FineraTESTInterfin]
GO
/****** Object:  Table [mig].[dnevnikAccess]    Script Date: 15.3.2023. 22:18:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [mig].[dnevnikAccess](
	[KOMPANIJA] [nvarchar](max) NULL,
	[FIRMA] [nvarchar](max) NULL,
	[GODINA] [nvarchar](max) NULL,
	[BROJ] [nvarchar](max) NULL,
	[ID] [nvarchar](max) NULL,
	[KONTO] [nvarchar](max) NULL,
	[SIFRA] [nvarchar](max) NULL,
	[VD] [nvarchar](max) NULL,
	[OPIS] [nvarchar](max) NULL,
	[BRVD] [nvarchar](max) NULL,
	[DAT_DOK] [datetime] NULL,
	[DUGUJE] [decimal](18, 2) NULL,
	[POTRAZUJE] [decimal](18, 2) NULL,
	[VALUTA] [nvarchar](max) NULL,
	[ZATVOREN] [nvarchar](max) NULL,
	[VEZA] [nvarchar](max) NULL,
	[ROK] [datetime] NULL,
	[DATUMDPO] [datetime] NULL,
	[BRANCH] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [mig].[PartneriAccess]    Script Date: 15.3.2023. 22:18:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [mig].[PartneriAccess](
	[KOMPANIJA] [nvarchar](max) NULL,
	[SIFRA] [nvarchar](max) NULL,
	[NAZIV] [nvarchar](max) NULL,
	[ULICA] [nvarchar](max) NULL,
	[MJESTO] [nvarchar](max) NULL,
	[TELEFON] [nvarchar](max) NULL,
	[RACUN] [nvarchar](max) NULL,
	[KONTAKTOSOBA] [nvarchar](max) NULL,
	[JIB] [nvarchar](max) NULL,
	[PIB] [nvarchar](max) NULL,
	[FAX] [nvarchar](max) NULL,
	[HOV] [nvarchar](max) NULL,
	[MOBILNITELEFON] [nvarchar](max) NULL,
	[TELEFON3] [nvarchar](max) NULL,
	[EMAIL] [nvarchar](max) NULL,
	[NAPOMENE] [nvarchar](max) NULL,
	[ZIRORACUN2] [nvarchar](max) NULL,
	[DEVIZNIRACUN] [nvarchar](max) NULL,
	[RACUNZAUPLATU] [nvarchar](max) NULL,
	[GRUPA] [nvarchar](max) NULL,
	[OWNER] [nvarchar](max) NULL,
	[EMPLOYER] [nvarchar](max) NULL,
	[BIRTHDATE] [nvarchar](max) NULL,
	[BIRTHCITY] [nvarchar](max) NULL,
	[IDENTITYCARDNO] [nvarchar](max) NULL,
	[POL] [nvarchar](max) NULL,
	[BRACNISTATUS] [nvarchar](max) NULL,
	[TIP] [nvarchar](max) NULL,
	[ENTITET] [nvarchar](max) NULL,
	[CEO] [nvarchar](max) NULL,
	[SIFRADJELATNOSTI] [nvarchar](max) NULL,
	[IME] [nvarchar](max) NULL,
	[IMERODITELJA] [nvarchar](max) NULL,
	[PREZIME] [nvarchar](max) NULL,
	[PODRACUN] [nvarchar](max) NULL,
	[EMPLOYMENTTYPE] [nvarchar](max) NULL,
	[UNSANCTIONLIST] [nvarchar](max) NULL,
	[IDEXPIREDATE] [nvarchar](max) NULL,
	[INACTIVE] [nvarchar](max) NULL,
	[PTTNUMBER] [nvarchar](max) NULL,
	[INVATSYSTEM] [nvarchar](max) NULL,
	[SKOLA] [nvarchar](max) NULL,
	[ZANIMANJE] [nvarchar](max) NULL,
	[MBS] [nvarchar](max) NULL,
	[MATICNIBROJ] [nvarchar](max) NULL,
	[IBAN] [nvarchar](max) NULL,
	[DRZAVA] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [mig].[dnevnikAccess] ([KOMPANIJA], [FIRMA], [GODINA], [BROJ], [ID], [KONTO], [SIFRA], [VD], [OPIS], [BRVD], [DAT_DOK], [DUGUJE], [POTRAZUJE], [VALUTA], [ZATVOREN], [VEZA], [ROK], [DATUMDPO], [BRANCH]) VALUES (N'', N'00', N'2022', N'1', N'32398', N'3020', N'10000000', N'', N'Osnivački ulog', N'Izv 1', CAST(N'2022-03-31T00:00:00.000' AS DateTime), CAST(0.00 AS Decimal(18, 2)), CAST(1000.00 AS Decimal(18, 2)), N'', N'FALSE', N'-', CAST(N'2022-03-31T00:00:00.000' AS DateTime), CAST(N'2022-03-31T00:00:00.000' AS DateTime), N'')
INSERT [mig].[dnevnikAccess] ([KOMPANIJA], [FIRMA], [GODINA], [BROJ], [ID], [KONTO], [SIFRA], [VD], [OPIS], [BRVD], [DAT_DOK], [DUGUJE], [POTRAZUJE], [VALUTA], [ZATVOREN], [VEZA], [ROK], [DATUMDPO], [BRANCH]) VALUES (N'', N'00', N'2022', N'1', N'32399', N'2410', N'', N'', N'', N'Izv 1', CAST(N'2022-03-31T00:00:00.000' AS DateTime), CAST(1000.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), N'', N'FALSE', N'', CAST(N'2022-03-31T00:00:00.000' AS DateTime), CAST(N'2022-03-31T00:00:00.000' AS DateTime), N'')
INSERT [mig].[dnevnikAccess] ([KOMPANIJA], [FIRMA], [GODINA], [BROJ], [ID], [KONTO], [SIFRA], [VD], [OPIS], [BRVD], [DAT_DOK], [DUGUJE], [POTRAZUJE], [VALUTA], [ZATVOREN], [VEZA], [ROK], [DATUMDPO], [BRANCH]) VALUES (N'', N'00', N'2022', N'2', N'32400', N'5599', N'10000007', N'UR', N'KUF 1/2022', N'1-22-00612', CAST(N'2022-04-05T00:00:00.000' AS DateTime), CAST(187.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), N'', N'FALSE', N'1-22-00612', CAST(N'2022-04-05T00:00:00.000' AS DateTime), CAST(N'2022-04-05T00:00:00.000' AS DateTime), N'10')
GO
