USE [iKontCODS]
GO
/****** Object:  Table [dbo].[OS]    Script Date: 5.4.2023. 15:16:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OS](
	[Broj naloga] [float] NULL,
	[Revizija] [float] NULL,
	[Datum] [datetime] NULL,
	[Tip naloga] [nvarchar](255) NULL,
	[Opis] [nvarchar](255) NULL,
	[Opis revizije] [nvarchar](255) NULL,
	[Broj GK] [nvarchar](255) NULL,
	[Status] [nvarchar](255) NULL,
	[Datum aktiviranja] [nvarchar](255) NULL,
	[Datum povlačenja] [nvarchar](255) NULL,
	[Korisnik] [nvarchar](255) NULL,
	[Osnovno sredstvo] [nvarchar](255) NULL,
	[Klasa OS] [nvarchar](255) NULL,
	[Ulaz] [float] NULL,
	[Izlaz] [nvarchar](255) NULL,
	[Vrijednost] [float] NULL,
	[Ispravka vrijednosti] [float] NULL,
	[Revalorizacija] [float] NULL,
	[Ispravka revalorizacije] [float] NULL,
	[Od] [nvarchar](255) NULL,
	[Do] [nvarchar](255) NULL,
	[Stopa amortizacije] [nvarchar](255) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[OS] ([Broj naloga], [Revizija], [Datum], [Tip naloga], [Opis], [Opis revizije], [Broj GK], [Status], [Datum aktiviranja], [Datum povlačenja], [Korisnik], [Osnovno sredstvo], [Klasa OS], [Ulaz], [Izlaz], [Vrijednost], [Ispravka vrijednosti], [Revalorizacija], [Ispravka revalorizacije], [Od], [Do], [Stopa amortizacije]) VALUES (1, 1, CAST(N'2023-01-01T00:00:00.000' AS DateTime), N'Početno stanje OS', N'Početno stanje', NULL, NULL, N'Radno', NULL, NULL, NULL, N'10089 - Vješalica VAMMEN metal 3', N'Namještaj', 1, NULL, 50, 26.06, 0, 0, NULL, NULL, NULL)
INSERT [dbo].[OS] ([Broj naloga], [Revizija], [Datum], [Tip naloga], [Opis], [Opis revizije], [Broj GK], [Status], [Datum aktiviranja], [Datum povlačenja], [Korisnik], [Osnovno sredstvo], [Klasa OS], [Ulaz], [Izlaz], [Vrijednost], [Ispravka vrijednosti], [Revalorizacija], [Ispravka revalorizacije], [Od], [Do], [Stopa amortizacije]) VALUES (1, 1, CAST(N'2023-01-01T00:00:00.000' AS DateTime), N'Početno stanje OS', N'Početno stanje', NULL, NULL, N'Radno', NULL, NULL, NULL, N'10828 - Monitor Samsung 2443 DW 1', N'Računarska oprema', 1, NULL, 330, 104.7, 0, 0, NULL, NULL, NULL)
INSERT [dbo].[OS] ([Broj naloga], [Revizija], [Datum], [Tip naloga], [Opis], [Opis revizije], [Broj GK], [Status], [Datum aktiviranja], [Datum povlačenja], [Korisnik], [Osnovno sredstvo], [Klasa OS], [Ulaz], [Izlaz], [Vrijednost], [Ispravka vrijednosti], [Revalorizacija], [Ispravka revalorizacije], [Od], [Do], [Stopa amortizacije]) VALUES (1, 1, CAST(N'2023-01-01T00:00:00.000' AS DateTime), N'Početno stanje OS', N'Početno stanje', NULL, NULL, N'Radno', NULL, NULL, NULL, N'10966 - ZITA-Fotelja crna', N'Namještaj', 1, NULL, 394.29, 41.32, 0, 0, NULL, NULL, NULL)
GO
